/* apply 
box-sizing: border-box
to all elements */


.Navigation-bar {
  box-sizing: border-box;
  min-height: 100px;
  border: 10px solid;
  border-color: black;
  flex-shrink: 0;
  

}

.Navigation-bar  li {
  box-sizing: border-box;
  display: inline-flex;
  border: 5px solid;
  border-color: grey;
  margin: 1%;
}

.test {
  box-sizing: border-box;
  display: flex;
  border: 10px solid;
  border-color: yellow;
}
